NEXT_PUBLIC_SITE_URL=http://127.0.0.1:43127
NEXT_PUBLIC_WHATSAPP_NUMBER=6285117333835
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/madebrings
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/madebrings
NEXT_PUBLIC_TRIPADVISOR_URL=https://www.tripadvisor.com/Search?q=MadeBrings%20Abianbase%20Bali
NEXT_PUBLIC_MAPS_URL=https://www.google.com/maps/search/?api=1&query=Abianbase+Badung+Bali
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_IMAGE_CDN=https://images.unsplash.com
